<section class='user_profile'>
  <%= render partial: 'shared/user_card', locals: {user: @user} %>

  <article class='user_bio'>
    <h3>Bio</h3>
    <p><%= @user.bio %></p>
  </article>

  <% if @user.recent_three_posts.any? %>
    <% @user.recent_three_posts.each do |post| %>
      <%= render partial: 'shared/post_card', locals: {post: post} %>
    <% end %>

    <div class='button_group'>
      <%= link_to 'See all posts', user_posts_path(user_id: @user.id), class: 'btn' %>
      <%= link_to 'Back to main', users_path, class: 'back_btn' %>
    </div>
  <% else %>
    <p>No posts found.</p>
  <% end %>
</section>